<a href="https://colab.research.google.com/github/Lahari1234565455/Data_Preprocessing_for_iris_dataset.ipynb/blob/main/Data_Preprocessing_For_Iris_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("IRIS1.csv")

In [ ]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           NaN          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2          NaN
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  140 non-null    float64
 1   sepal_width   142 non-null    float64
 2   petal_length  137 non-null    float64
 3   petal_width   143 non-null    float64
 4   species       137 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
# 150 rows and 5 columns
#handle missing values in all rows

In [ ]:
df.isnull().sum()

sepal_length    10
sepal_width      8
petal_length    13
petal_width      7
species         13
dtype: int64

In [ ]:
df['sepal_length']=df['sepal_length'].fillna(df['sepal_length'].mean())

In [ ]:
df.isnull().sum()

sepal_length     0
sepal_width      8
petal_length    13
petal_width      7
species         13
dtype: int64

In [ ]:
df['sepal_width']=df['sepal_width'].fillna(df['sepal_width'].mean())

In [ ]:
df.isnull().sum()

sepal_length     0
sepal_width      0
petal_length    13
petal_width      7
species         13
dtype: int64

In [ ]:
df['petal_width'] = df['petal_width'].fillna(df['petal_width'].mean())

In [ ]:
df.isnull().sum()

sepal_length     0
sepal_width      0
petal_length    13
petal_width      0
species         13
dtype: int64

In [ ]:
df['petal_length'] = df['petal_length'].fillna(df['petal_length'].mean())

In [ ]:
df.isnull().sum()

sepal_length     0
sepal_width      0
petal_length     0
petal_width      0
species         13
dtype: int64

In [ ]:
df['species'] = df['species'].fillna(df['species'].mode()[0])

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
df.to_csv("cleaned_iris.csv")